In [1]:
import pandas as pd
from custom_ml_toolkit.cluster_analyzer.profiler import ClusterProfiler

In [2]:
df = pd.DataFrame({
    'gender': ['Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female'],
    'animal': ['dog', 'dog', 'cat', 'cat', 'cat', 'dog', 'dog', 'dog', 'cat', 'cat'],
    'salary': [100, 100, 100, 100, 100, 300, 300, 300, 300, 300],
    'cluster': [1, 1, 1, 1, 1, 2, 2, 2, 2, 2]
})

In [3]:
# ClusterProfiler._profile_cat_feature(
#     df=df,
#     cluster_col='cluster',
#     target_col='gender'
# )

# ClusterProfiler._profile_num_feature(
#     df=df,
#     cluster_col='cluster',
#     target_col='salary'
# )

ClusterProfiler(
    cluster_col='cluster',
    numerical_cols=['salary'],
    categorical_cols=['gender','animal']
).summary(df)

                                 1      2
feature_name feature_values
salary       mean            100.0  300.0
             median          100.0  300.0
             std               0.0    0.0
gender       Female           40.0   60.0
             Male             60.0   40.0
animal       cat              60.0   40.0
             dog              40.0   60.0